body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #61d3ff;
}

#formContainer{
    position: absolute;
    background: rgb(200,242,255);
    background: linear-gradient(74deg, rgba(200,242,255,1) 0%, rgba(0,173,255,1) 74%);
    height: 350px;
    width: 50%;
    margin: 0 auto;
    left:25%;
    top: -20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 2s;
}

#formModal{
    z-index: 100;
    height: 100vh;
    width: 100%;
    position: absolute;
    transition: transform 2s;
}

.moveUp{
    transform: translateY(-400px);
}

.hide{
    height: 0 !important;
}

#gameContainer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

form > label{
    font-weight: bold;
    font-size: 30px;
}

form > input{
    height: 30px;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #d4edff;
    font-size: 20px;
}

#submit{
    height: 50px;
    width: 140px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d4edff;
}

.spotStyle{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

.spotStyle:hover{
    background-color: black;

}

#gameBoard{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 1px solid black;
}

.disable{
    pointer-events: none;
}

#gameContainer > h1{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

#gameBoardContainer{
    display: flex;
    justify-content: center;
}

#reset{
    margin: 70px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 40px;
    width: 150px;
}

#messageDisplay{
    font-size: 36px;
    padding: 60px 0px 10px;
}

.winning{
    color: red;
}

footer{
    text-align: center;
}

footer > a{
    text-decoration: none;
    color: black;
}
